/* Estilos generales */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}

/* Barra superior */
.top-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: linear-gradient(to right, #FFBB33, #6e5016);
	color: white;
	padding: 10px;
}

.top-bar img {
	width: 8rem;
}

.dropdown-toggle {
	background-color: #6e5016;
	border: none;
	color: #fff;
	border-radius: 5px;
	padding: 10px;
	font-size: 16px;
	font-weight: bold;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
	transition: background-color 0.2s ease-in-out;
	margin-right: 3rem;
}
      
.dropdown-toggle:hover {
	background-color: #e4c07c;
}
      
.contenedorPrincipal {
	display: grid; /* establece que el elemento sea una cuadrícula */
	grid-template-columns: 30% 60%;
  	grid-template-rows: auto;
  	grid-gap: 2rem;
	align-items: center; /* alinea verticalmente los elementos en el centro de la celda */
}

.card-img-top {
	width: 50%;
	border-radius: 5rem;
	margin-top: 1rem;
	margin-left: 4.2rem;
}
      
button {
	margin-top: 1rem;
	background-color: #d69c32;
	border: none;
	color: #fff;
	border-radius: 5px;
	font-size: 16px;
	font-weight: bold;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
	transition: background-color 0.2s ease-in-out;
}

button:hover {
	background-color: #e4c07c;
}

@media only screen and (max-width: 810px) {
          
}

@media only screen and (max-width: 480px) {
	.contenedorPrincipal {
		display: grid; /* establece que el elemento sea una cuadrícula */
		grid-template-columns: auto;
		padding-bottom: 1rem;
	}
	
	.cardUsuario {
		width: 100%;
		align-items: center;
	}
	
	.card-img-top {
		width: 50%;
		border-radius: 5rem;
		margin-top: 1rem;
		margin-left: 0;
	}
}