/* Estilos generales */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}

.datosUsuarios {
  display: flex;
}

/* Barra superior */
.top-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: linear-gradient(to right, #FFBB33, #6e5016);
	color: white;
	padding: 10px;
}

.top-bar img {
	width: 6rem;
}
/* Barra superior */

/* Estilo para la información del usuario */
.card {
    width: 300px; /* Puedes ajustar el ancho según tus preferencias */
    margin: 20px; /* Espaciado exterior */
}

.card-img-top {
    width: 100%;
    height: auto;
}

.card-title {
    text-align: center;
}

.list-group-item {
    border: none;
}

/* Estilo para el enlace de registro */
.form-group {
    margin-bottom: 20px;
}

/* Estilo para la tabla de usuarios */

.table-responsive-md {
	margin-top: 3rem;
}

/* Estilo para las celdas de la tabla */
.table-bordered th, .table-bordered td {
    text-align: center;
    vertical-align: middle;
}

/* Estilo para las fotos de usuarios de la tabla */

.card-img-top {
	width: 10rem;
	border-radius: 5rem;
	margin-top: 1rem;
	margin-left: 4.2rem;
}

img {
	width: 3rem;
	height: 3rem;
}

/* Estilo para los botones de acciones */
.btn {
    margin-right: 5px;
}

@media only screen and (max-width: 1132px) {
	.datosUsuarios {
  		flex-direction: column;
	}
	
	.card {
	    flex-direction: row;
	    border:hidden;
	}
	
	.card img {
	    width: 20rem;
	}
	
	table { 
  width: 100%; 
  border-collapse: collapse; 
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #eee; 
}
th { 
  background: #333; 
  color: white; 
  font-weight: bold; 
}
td, th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: left; 
}
}

@media only screen and (max-width: 375px) {
	table {
		flex-direction: column;
	}
}