/* Estilos generales */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}

/* Barra superior */
.top-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: linear-gradient(to right, #FFBB33, #6e5016);
	color: white;
	padding: 10px;
}

.top-bar img {
	width: 8rem;
}
/* Barra superior */

#calendario {
	max-width: 800px;
	margin: 20px auto;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	padding: 20px;
	border-radius: 5px;
}

form {
	display: none;
	max-width: 400px;
	margin: 20px auto;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	padding: 20px;
	border-radius: 5px;
}

label {
	display: block;
	margin-bottom: 8px;
	color: #333;
}

select {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
}

button {
	background-color: #3d3d3d;
	border: none;
	color: #fff;
	border-radius: 5px;
	padding: 10px;
	font-size: 16px;
	font-weight: bold;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
	transition: background-color 0.2s ease-in-out;
}

button:hover {
	background-color: #696969;
}

/* Estilos para dispositivos móviles */
@media (max-width: 428px) {
    #calendario {
        max-width: 100%;
        margin: 10px;
        padding: 10px;
    }

    form {
        max-width: 100%;
        margin: 10px;
        padding: 10px;
    }
}
