<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="'GSAapp - ' + ${titulo}">GSAapp - Iniciar sesión</title>
    <!-- CSS de Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <!-- Estilos personalizados -->
    <link rel="stylesheet" href="./css/estilosLogin.css">
</head>

<body>
    <!-- CONTENEDOR DONDE ALMACENA EL CARRUSEL Y EL LOGIN -->
    <nav class="navbar navbar-light justify-content-between top-bar">
        <img src="./img/logoGSAapp.png" alt="LogoGSAapp">
    </nav>

    <hr>

    <div class="formulario container-fluid justify-content-center">
        <h3 class="text-center mb-4">Iniciar sesión</h3>

        <hr>

        <div th:if="${param.error}" class="alert alert-danger">
            <span>Email o contraseña incorrectos.</span>
        </div>

        <div th:if="${param.logout}" class="alert alert-info">
            <span>Cerraste sesión con éxito.</span>
        </div>

        <form th:action="@{/login}" method="post">
            <div class="form-group">
                <label for="username">Email:</label>
                <input class="form-control" type="text" id="username" name="username" size="30">
            </div>

            <div class="form-group">
                <label for="password">Contraseña:</label>
                <input class="form-control" type="password" id="password" name="password" size="30">
            </div>

            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Acceder">
                <a th:href="@{/registro}" class="btn btn-secondary">Registrar usuario</a>
            </div>

            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        </form>
    </div>

    <!-- FIN DEL CONTENEDOR -->

    <!-- Footer -->
    <footer class="text-white mt-5">
        <div class="container footerInterior">

            <!-- Iconos de redes sociales (ejemplos) -->
            <div class="footer-icons">
                <a href="https://www.facebook.com" class="text-white mr-3">
                    <img class="img-fluid float-left" src="./img/facebook_logo.png" alt="LogoFacebook">
                </a>
                <a href="https://twitter.com" class="text-white mr-3">
                    <img class="img-fluid float-left" src="./img/twitter_x_logo.png" alt="LogoX">
                </a>
                <a href="https://www.instagram.com" class="text-white mr-3">
                    <img class="img-fluid float-left" src="./img/instagram_logo.png" alt="LogoInstagram">
                </a>
                <a href="https://es.linkedin.com" class="text-white">
                    <img class="img-fluid float-left" src="./img/linkedin_logo.png" alt="LogoLinkedin">
                </a>
            </div>
            <div class="infoApp">
                <h4>Acerca de GSAapp</h4>
                <p>GSAapp es una aplicación que [breve explicación de la aplicación].
                    Conéctate con nosotros en redes sociales para obtener las últimas
                    actualizaciones y noticias.</p>
            </div>
        </div>
    </footer>
</body>

</html>